<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FileExplorer.Properties.Settings>
            <setting name="DirectoryColumn1_size" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DirectoryColumn2_size" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DirectoryColumn3_size" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DriveDirectory_name" serializeAs="String">
                <value>This PC</value>
            </setting>
        </FileExplorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FileExplorer.Properties.Settings>
            <setting name="DirectoryColumn1_name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="DirectoryColumn2_name" serializeAs="String">
                <value>Size</value>
            </setting>
            <setting name="DirectoryColumn3_name" serializeAs="String">
                <value>Creation date</value>
            </setting>
            <setting name="Icon_size" serializeAs="String">
                <value>32</value>
            </setting>
        </FileExplorer.Properties.Settings>
    </applicationSettings>
</configuration>